# Ignore all hidden files and folders in root
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

**/*.*proj.user
**/*.dbmdl
**/*.jfm

**/azds.yaml

**/bin
**/obj

**/node_modules

**/docker-compose*
**/Dockerfile*

**/npm-debug.log

**/charts

**/secrets.dev.yaml
**/values.dev.yaml

!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
