<div class="footer"> 
    <div class="footer-container">
      <section class="footer-section">
        <div class="footer-links">Privacy & Cookies | Terms & Conditions</div>
        <div class="footer-copyright">Copyright Lighttown Speakers, 2024 - All rights reserved</div>
      </section>
      <address class="footer-address">
        <div class="footer-address-details">
          <div class="footer-address-info">
            <div class="footer-address-city">Eindhoven</div>
            <div class="footer-address-building">The Social Hub</div>
            <div class="footer-address-street">Stationsweg 1 <br /> 5611 AA Eindhoven</div>
          </div>
        </div>
      </address>
    </div>
  </div>