<div class="footer"> 
    <div class="footer-container">
      <section class="footer-section">
        <div class="footer-links"></div>
        <div class="footer-copyright"></div>
      </section>
      <address class="footer-address">
        <div class="footer-address-details">
          <div class="footer-address-info">
          </div>
        </div>
      </address>
    </div>
  </div>