.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 10;
  }
  
  .sidebar a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .sidebar:hover {
    width: 200px;
  }
  
  .sidebar .menu-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
  }
  
  .sidebar a .menu-text {
    display: none;
    padding-left: 10px;
  }
  
  .sidebar:hover a .menu-text {
    display: inline;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .sidebar a.active {
    background-color: #575757;
  }
  
  .main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    width: calc(100% - 200px); 
  }
  
  .sidebar:hover ~ .main-content {
    margin-left: 200px;
    width: calc(100% - 200px); 
  }